{% if site.resume_print_social_links %}
<ul>
  {% if site.resume_social_links.resume_github_url %}
  <li><strong>Github</strong>: {{ site.resume_social_links.resume_github_url }}</li>
  {% endif %}
  {% if site.resume_social_links.resume_facebook_url %}
  <li><strong>Facebook</strong>: {{ site.resume_social_links.resume_facebook_url }}</li>
  {% endif %}
  {% if site.resume_social_links.resume_linkedin_url %}
  <li><strong>LinkedIn</strong>: {{ site.resume_social_links.resume_linkedin_url }}</li>
  {% endif %}
  {% if site.resume_social_links.resume_instagram_url %}
  <li><strong>Instagram</strong>: {{ site.resume_social_links.resume_instagram_url }}</li>
  {% endif %}
  {% if site.resume_social_links.resume_website_url %}
  <li><strong>Website</strong>: {{ site.resume_social_links.resume_website_url }}</li>
  {% endif %}
</ul>
{% endif %}
